<!DOCTYPE html> 
<html> 
<head> 
<meta charset="UTF-8"/>
<title> {{ page.title }} - 我的第一个单页</title> 
<link href="../lib/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="../lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<link href="../lib/bootstrap/css/docs.css" rel="stylesheet">
<link href="../lib/bootstrap/js/google-code-prettify/prettify.css" rel="stylesheet">
<link href="../css/main.css" rel="stylesheet"/>
<script type="text/javascript" src="../lib/bootstrap/js/jquery.js"></script>
<script type="text/javascript" src="../lib/bootstrap/js/bootstrap.js"></script>
<link href="../lib/bootstrap/js/google-code-prettify/prettify.js" rel="stylesheet">
</head>

<body> 
	<div class="container">
		<br><header class="jumbotron subhead" id="overview">
	        <h1>烷烃</h1>
	        <p class="lead">
		  		落花与流水的故事
			</p>
	        <div class="subnav">
	          <ul class="nav nav-pills">
	            <li class="active"><a href="#global">主页</a></li>
	            <li class=""><a href="#gridSystem">文章</a></li>
	            <li class=""><a href="#fluidGridSystem">作品列表</a></li>
	            <li><a href="#gridCustomization">分享</a></li>
	            <li><a href="#layouts">关于</a></li>
	            <li><a href="#responsive">RSS</a></li>
	          </ul>
	        </div>
      	</header><!-- !header -->
      	
		<div class="blog-grid-94">
			<div class="blog-list left">
				fakjflajdl
			</div>
			<div class="blog-slider">
				<aside id="categories-2" class="widget widget_categories">
					<label class="widget-title">真相</label>
					<img class="blog-photo" alt="真相" src="../images/photo.jpg">
				</aside>
			</div>
		</div>
	</div>
</body> 
</html>